
.header{
height: 100px;
left: 0px;
top: 0px;

background-color: #000000;
}
.header h1#title{
position: relative;
margin-left: 200px;
size: 100px;
top: -90px;
color: #FFFFFF;
}
img{
   position: relative;
    width: 120px;
    left: 30px;
    top: -2px;
}

body{
    background-color:  #CECECE;
}
/* untuk kota */

div#boxKota input.kota {
    width: 219px;
    height: 45px;
    left: 370px;
    top: 120px;
    background: #FFFFFF;
    border-radius: 20px;
    
} 

div#boxTanggal input.tanggal {
    position: absolute;
    width: 219px;
    height: 45px;
    left: 80%;
    top: 25px;
    background: #FFFFFF;
    border-radius: 20px;
} 

#sunday{
    text-align: center;
    position: absolute;
    top: 300px;
    left: 15px;
    width: 200px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px grey;
}

#monday{
    text-align: center;
    position: absolute;
    top: 300px;
    left: 235px;
    width: 200px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px grey;
}

#tuesday{
    text-align: center;
    position: absolute;
    top: 300px;
    left: 450px;
    width: 200px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px grey;
}

#wednesday{
    text-align: center;
    position: absolute;
    top: 300px;
    left: 670px;
    width: 200px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px grey;
}

#thursday{
    text-align: center;
    position: absolute;
    top: 300px;
    left: 890px;
    width: 200px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px grey;
}

#friday{
    text-align: center;
    position: absolute;
    top: 300px;
    left: 1110px;
    width: 200px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px grey;
}

#saturday{
    text-align: center;
    position: absolute;
    top: 300px;
    left: 1330px;
    width: 200px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px grey;
}

/**.bi bi-cloud-sun-fill{
    size: 10px;
}*/